.post{
    width:100%;
    margin:30px 0;
    border-radius: 30px;
    box-shadow: 2px 2px 20px 5px rgba(201,201,210,0.48);
}
.postContainer{
    padding:20px;
}
.postTop{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postProfileImg{
    width:40px;
    height:40px;
    border-radius: 50%;
    object-fit: cover;
    cursor:pointer;
}
.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin:0 10px;
    cursor:pointer;
}
.postDate{
    font-size: 14px;
     
}
.postVertButton{
    font-size: 30px;
    color: black;
    cursor:pointer;
}
.postCenter{
    margin:20px 0;
}
.postImg{
    width:100%;
    max-height: 500px;
    object-fit: contain;
    margin-top: 15px;
    cursor:pointer;
}
.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.postBottomLeft{
    display: flex;
    align-items: center;
    gap:10px;  
}
.bottomLeftIcon{
    font-size: 25px;
    cursor: pointer;
}
.postLikeCounter{
    font-size: 15px;
}
.postCommentText{
    font-size: 15px;
    cursor: pointer;
}
.footerHr{
    margin:10px 0;
}
.postBottomFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postBottomFooterItem{
    display: flex;
    align-items: center;
    padding: 7px;
    cursor: pointer;
}
.footerIcon{
    color:black;
    font-size: 30px;
    margin-right: 10px;
}

.postBottomFooterItem:hover{
    border-radius: 20px;
    box-shadow: 4px 2px 20px 5px rgba(201,201,210,0.48);
}

.footerText{
    font-weight: 500;
}


